
.apexcharts-grid > line {
  display: none;
}

.apexcharts-grid-borders .apexcharts-gridline:nth-child(2) {
  display: none;
}

.chart-border {
  border: 1px solid #000;
  border-radius: 0.714em;
  padding: 1em;
}

.vue-apexcharts {
  .apexcharts-tooltip.apexcharts-theme-light {
    border: 1px solid #000;
    box-shadow: 2px 2px 0 #000000;

    .apexcharts-tooltip-title {
      font-weight: bold;
      background: #FFF;
      border-bottom: 1px solid #000;
    }
  }
}
