#consent-box {
  background: #000;
  bottom: 0;
  box-sizing: border-box;
  color: #aaa;
  display: flex;
  font-size: .9rem;
  //position: fixed;
  width: 100%;

  &.hidden {
    display: none;
  }

  a {
    color: #eee;
    text-decoration: none;
  }

  .messageContainer {
    flex-grow: 1;
    padding: .3rem;
  }

  .messageContainer span {
    line-height: 1.5em;
  }

  .buttonContainer {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    padding: .5rem;
  }

  .consentButton {
    background: #007aff;
    color: #fff;
    display: inline-block;
    margin: 0 .4rem;
    padding: .3rem .8rem;
    text-decoration: none;
  }

  .consentButton.decline {
    background: #444;
  }
}
