@use "@/design/vars.scss";

.br-solid.b-info {
  border-right: 1px solid vars.$archway-border;
}

.el-divider--horizontal {
  border-top: 1px solid vars.$archway-border;
}

.el-menu--horizontal {
  border-bottom: 1px solid vars.$archway-border;

  .el-menu-item:not(.is-disabled):hover,
  .el-menu-item:not(.is-disabled):focus,
  & > .el-sub-menu .el-sub-menu__title:hover,
  & > .el-sub-menu .el-sub-menu__title:focus {
    background: #d4d8e6;
  }

  & > .el-menu-item.is-active,
  & > .el-menu-item.is-active:hover,
  & > .el-menu-item.is-active:focus {
    border-bottom-color: vars.$archway-primary-orange;
    color: vars.$archway-primary-orange !important;
  }
}

.el-popper.is-light {
  border: 1px solid #000;
}
