@use 'element-plus/theme-chalk/src/mixins/mixins' as EPMixins;
@use 'element-plus/theme-chalk/src/mixins/function' as EPFunctions;

@include EPMixins.b(message-box) {
  box-shadow: EPFunctions.getCssVar('messagebox', 'box-shadow');

  @include EPMixins.when(wide) {
    max-width: 50%;
  }

  @include EPMixins.when(non-center) {
    @include EPMixins.e(content) {
      text-align: left;
    }
  }
}

.el-message__content {
  white-space: pre-wrap;
  word-break: break-word;
  line-height: 1.2;
}
