.static-spinner {
  position: static;
  margin-top: 0;
}

.claim-modal {
  text-align: center;
  max-width: 19.93em;

  .medal-image {
    width: 200px;
    height: 200px;
  }
}

.campaign-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(22em, 1fr));
  gap: 1em;
}

.campaign-card {
  h3 {
    margin: 1.1em 0;
  }

  svg {
    height: 1em;
  }

  .card-link {
    cursor: pointer;
    font-size: 1.75em;
  }

  .text-link {
    cursor: pointer;

    svg {
      font-size: 0.8em;
      vertical-align: -0.05em;
    }
  }

  .text-muted {
    opacity: 0.64;
  }

  .currency-icon {
    font-size: 2em;
  }

  div.currency-icon {
    width: 1em;
  }

  .el-progress .el-progress-bar__outer {
    border: 1px solid #000;
  }

  .el-progress .el-progress__text {
    min-width: 4.75em;
    text-align: right;

    svg {
      vertical-align: -0.142em;
    }
  }

  .el-progress.is-success .el-progress__text,
  .el-progress.is-warning .el-progress__text,
  .el-progress.is-exception .el-progress__text {
    color: #000;
  }

  .top-half,
  .bottom-half {
    border: 1px solid #000;
    padding: 0 1.25em;
  }
  .top-half {
    height: 6.3em;
    border-top-left-radius: 0.75em;
    border-top-right-radius: 0.75em;
  }
  .bottom-half {
    height: 6.8em;
    background: #000;
    color: #fff;
    border-bottom-left-radius: 0.75em;
    border-bottom-right-radius: 0.75em;
  }
}

.project-card {
  background: #fff;
  border: 1px solid #000;
  border-radius: 0.75em;
  overflow: hidden;

  .card-image {
    border-bottom: 1px solid #000;
    width: 100%;
    min-height: 10em;
    aspect-ratio: 1.7;
    background-size: cover;
    background-position: center;

    &.random-cube {
      background-size: 50% 65%;
      background-repeat: no-repeat;
    }
  }

  .card-content {
    padding: 0 1.25em 1.25em 1.25em;

    .social-links {
      gap: 0.5em;
    }

    .el-button {
      box-shadow: none;
    }
  }
}
