.el-tabs__header {
  margin: 0;
}

.el-tabs__item {
  height: 2.5em;
  padding: 0 0.75em;
  opacity: 0.3;
  transition: opacity 0.2s ease-in-out;
  font-weight: bold;

  &.is-active {
    opacity: 1;
  }

  &:hover {
    opacity: 1;
  }
}

.el-tabs__nav-scroll {
  padding-left: 10px;
  padding-right: 10px;
}

.el-tabs__active-bar {
  background-color: #EDC16C;
  padding: 0 10px;
  margin-left: -10px;
  height: 1px;
}

.el-tabs__nav-wrap::after {
  display: none;
}
