@use "@/design/vars.scss";

.el-tag {
  margin-right: 1em;
}


.el-tag--plain {
  background: vars.$archway-warm-grey;
  border: none;
}

.el-tag--info {
  color: black;
  background: vars.$archway-warm-grey;
  border: none;
}
