<!DOCTYPE html>
<html lang="en" data-build-timestamp-utc="<%- BUILD_DATE %>" data-env="<%- BUILD_ENV %>">
<head>
  <!--  @formatter:off -->
  <meta charset="UTF-8"/>
  <link rel="icon" href="/favicon.ico"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Archway Network</title>
  <meta name="title" content="Archway Incentivised Mainnet Missions"/>
  <meta name="description" content="Archway is launching its Incentivized Mainnet Missions campaign. Archway’s mainnet missions are designed promote user education and acquisition among the many dapps in the Archway Users can earn rewards in the form of $ARCH tokens and Community XP for transactions and interactions. Come learn and earn today!"/>

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="https://archway.bonusblock.io"/>
  <meta property="og:title" content="Archway Incentivised Mainnet Missions"/>
  <meta property="og:description" content="Archway is launching its Incentivized Mainnet Missions campaign. Archway’s mainnet missions are designed promote user education and acquisition among the many dapps in the Archway Users can earn rewards in the form of $ARCH tokens and Community XP for transactions and interactions. Come learn and earn today!"/>
  <meta property="og:image" content="https://uploads-ssl.webflow.com/646e2681b1e16cd1a28f9571/64d1091e1ceaa7987fc47b00_archway-SEO.png"/>
  <meta property="og:image:alt" content="Archway Network"/>
  <meta property="og:image:width" content="1200"/>
  <meta property="og:image:height" content="600"/>

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image"/>
  <meta property="twitter:url" content="https://archway.bonusblock.io"/>
  <meta property="twitter:title" content="Archway Incentivised Mainnet Missions"/>
  <meta property="twitter:description" content="Archway is launching its Incentivized Mainnet Missions campaign. Archway’s mainnet missions are designed promote user education and acquisition among the many dapps in the Archway Users can earn rewards in the form of $ARCH tokens and Community XP for transactions and interactions. Come learn and earn today!"/>
  <meta property="twitter:image" content="https://uploads-ssl.webflow.com/646e2681b1e16cd1a28f9571/64d1091e1ceaa7987fc47b00_archway-SEO.png"/>
  <meta property="twitter:image:src" content="https://uploads-ssl.webflow.com/646e2681b1e16cd1a28f9571/64d1091e1ceaa7987fc47b00_archway-SEO.png"/>

  <!-- WHIP-002 App Name -->
  <meta name="application-name" content="Archway Incentivised Mainnet Missions"/>
  <!-- WHIP-002 App Icon -->
  <link rel="icon" href="/favicon.ico"/>
  <!--  @formatter:on -->

  <!-- cookie3 analytics -->
  <script>
    const cookie3Options = {"siteId": 47, "additionalTracking": true, "cookielessEnabled": false};
    window._paq = window._paq || [];
    (function () {
      let d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
      g.async = true;
      g.src = 'https://cdn.staging.cookie3.co/scripts/analytics/latest/cookie3.analytics.min.js';
      s.parentNode.insertBefore(g, s);
    })();
  </script>
  <!-- End cookie3 analytics -->
  <style lang="scss">
      @use "@/design/vars.scss" as v;
      body {background: v.$archway-warm-grey
      }
      #loader {position: fixed;top: 50%;left: 0;right: 0;bottom: 0}
      #loader > div {display: block;margin: -100px auto 0 auto;text-align: center;color: #777}
      #loader span {display: block;margin-top: 0.5em;font-size: 2em;animation: fadein 2s}
      @keyframes fadein {
          from {opacity: 0}
          to {opacity: 1}
      }
  </style>
</head>
<body id="body">
<div id="app"></div>
<div id="loader">
  <div>
    <svg width="290" height="290" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M8 24.128C8 15.2207 15.1633 8 24 8C32.8364 8 40 15.2207 40 24.128V39.984C39.9914 31.1547 32.8313 24 24 24C15.1636 24 8.00002 31.1633 8.00002 40L8 24.128Z" fill="black"/>
    </svg>
  </div>
</div>
</body>
</html>
