<!DOCTYPE html>
<html lang="en" data-build-timestamp-utc="<%- BUILD_DATE %>" data-env="<%- BUILD_ENV %>">
<head>
  <!--  @formatter:off -->
  <meta charset="UTF-8"/>
  <link rel="icon" href="/favicon.ico"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>BonusBlock Network</title>
  <meta name="title" content="BonusBlock Network - Create an account, link your wallets, and start earning rewards every week!"/>
  <meta name="description" content="An strategy that rewards users for supporting protocols, CEXs, and dApp on-chain activity growth! No quests, integrations, or spamming of social networks! Use the products frequently to earn rewards!"/>

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="https://app.bonusblock.io"/>
  <meta property="og:title" content="BonusBlock Network - Create an account, link your wallets, and start earning rewards every week!"/>
  <meta property="og:description" content="An strategy that rewards users for supporting protocols, CEXs, and dApp on-chain activity growth! No quests, integrations, or spamming of social networks! Use the products frequently to earn rewards!"/>
  <meta property="og:image" content="https://app.bonusblock.io/preview.png"/>
  <meta property="og:image:alt" content="BonusBlock Network"/>
  <meta property="og:image:width" content="1200"/>
  <meta property="og:image:height" content="600"/>

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image"/>
  <meta property="twitter:url" content="https://app.bonusblock.io"/>
  <meta property="twitter:title" content="BonusBlock Network - Create an account, link your wallets, and start earning rewards every week!"/>
  <meta property="twitter:description" content="An strategy that rewards users for supporting protocols, CEXs, and dApp on-chain activity growth! No quests, integrations, or spamming of social networks! Use the products frequently to earn rewards!"/>
  <meta property="twitter:image" content="https://app.bonusblock.io/preview.png"/>
  <meta property="twitter:image:src" content="https://app.bonusblock.io/preview.png"/>

  <!-- WHIP-002 App Name -->
  <meta name="application-name" content="BonusBlock Network - Be rewarded for your everyday on-chain activity with BonusBlock!"/>
  <!-- WHIP-002 App Icon -->
  <link rel="icon" type="image/svg+xml" href="/logo.svg"/>
  <!--  @formatter:on -->

  <!-- cookie3 analytics -->
  <script>
    const cookie3Options = {"siteId": 47, "additionalTracking": true, "cookielessEnabled": false};
    window._paq = window._paq || [];
    (function () {
      let d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
      g.async = true;
      g.src = 'https://cdn.staging.cookie3.co/scripts/analytics/latest/cookie3.analytics.min.js';
      s.parentNode.insertBefore(g, s);
    })();
  </script>
  <!-- End cookie3 analytics -->
</head>
<body id="body">
<div id="app"></div>
</body>
</html>
