<!DOCTYPE html>
<html lang="en" data-build-timestamp-utc="<%- BUILD_DATE %>" data-env="<%- BUILD_ENV %>">
<head>
  <!--  @formatter:off -->
  <meta charset="UTF-8"/>
  <link rel="icon" href="/favicon.ico"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>BonusBlock Network</title>
  <meta name="title" content="BonusBlock Network - Create an account, link your wallets, and start earning rewards every week!"/>
  <meta name="description" content="An strategy that rewards users for supporting protocols, CEXs, and dApp on-chain activity growth! No quests, integrations, or spamming of social networks! Use the products frequently to earn rewards!"/>

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="https://app.bonusblock.io"/>
  <meta property="og:title" content="BonusBlock Network - Create an account, link your wallets, and start earning rewards every week!"/>
  <meta property="og:description" content="An strategy that rewards users for supporting protocols, CEXs, and dApp on-chain activity growth! No quests, integrations, or spamming of social networks! Use the products frequently to earn rewards!"/>
  <meta property="og:image" content="https://app.bonusblock.io/preview.png"/>
  <meta property="og:image:alt" content="BonusBlock Network"/>
  <meta property="og:image:width" content="1200"/>
  <meta property="og:image:height" content="600"/>

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image"/>
  <meta property="twitter:url" content="https://app.bonusblock.io"/>
  <meta property="twitter:title" content="BonusBlock Network - Create an account, link your wallets, and start earning rewards every week!"/>
  <meta property="twitter:description" content="An strategy that rewards users for supporting protocols, CEXs, and dApp on-chain activity growth! No quests, integrations, or spamming of social networks! Use the products frequently to earn rewards!"/>
  <meta property="twitter:image" content="https://app.bonusblock.io/preview.png"/>
  <meta property="twitter:image:src" content="https://app.bonusblock.io/preview.png"/>

  <!-- WHIP-002 App Name -->
  <meta name="application-name" content="BonusBlock Network - Be rewarded for your everyday on-chain activity with BonusBlock!"/>
  <!-- WHIP-002 App Icon -->
  <link rel="icon" type="image/svg+xml" href="/logo.svg"/>
  <!--  @formatter:on -->

  <!-- cookie3 analytics -->
  <script>
    const cookie3Options = {"siteId": 47, "additionalTracking": true, "cookielessEnabled": false};
    window._paq = window._paq || [];
    (function () {
      let d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
      g.async = true;
      g.src = 'https://cdn.staging.cookie3.co/scripts/analytics/latest/cookie3.analytics.min.js';
      s.parentNode.insertBefore(g, s);
    })();
  </script>
  <!-- End cookie3 analytics -->
  <style>
      body {background: #FFF7EA}
      #loader {position: fixed;top: 50%;left: 0;right: 0;bottom: 0}
      #loader > div {display: block;margin: -100px auto 0 auto;width: 200px;text-align: center;color: #777}
      #loader span {display: block;margin-top: 0.5em;font-size: 2em;animation: fadein 2s}
      @keyframes fadein {
          from {opacity: 0}
          to {opacity: 1}
      }
  </style>
</head>
<body id="body">
<div id="app"></div>
<div id="loader">
  <div>
    <svg viewBox="0 0 290 290" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M233.7 23h-70.6l35.3 61.4H269L233.7 23Z" fill="#fff"/>
      <path d="M198.4 84.4 163.1 23l-34.9 61.4 34.9 60.9 35.3-61Z" fill="#1E1C4E"/>
      <path d="M128.2 84.4h-71l35.4 60.9h70.5l-34.9-61Z" fill="#fff"/>
      <path d="m92.6 145.3-35.4-61L22 145.8l35.2 61 35.4-61.4Z" fill="#1E1C4E"/>
      <path d="m163 145.3 35.4 61.3H269l-34.9-60.9-71-.4Z" fill="#fff"/>
      <path d="m127.4 207 35.3 61 35.7-61.4-35.3-61.3-35.7 61.8Z" fill="#1E1C4E"/>
      <path d="m92.6 145.3-35.4 61.3 70.2.5 35.7-61.8H92.6Z" fill="#F5BF5B"/>
      <path d="M269 84.4h-70.6l-35.3 60.9 71 .4L269 84.4Z" fill="#F5BF5B"/>
      <path d="M198.4 206.6 162.7 268H231l38-61.4h-70.6Z" fill="#F5BF5B"/>
    </svg>
    <span>Loading...</span>
  </div>
</div>
</body>
</html>
