@use "@/design/vars.scss";
.explore-archway {
  font-size: 4em;
  font-weight: 400;
}

.welcome-to-archway {
  font-size: 10vw;
  @media only screen and (max-width: 768px) {
    font-size: 12vw;
  }
}

.archway-orange {
  color: vars.$archway-primary-orange;
}

.archway-orange-bg {
  background-color: vars.$archway-primary-orange;
  color: white;
}

.mission-image {
  width: 100%;
  min-height: 10em;
  aspect-ratio: 1.7;
  background-size: cover;
  background-position: center;
}

.mission-card-content {
  padding: 1.5em
}

.product-banner {
  background-size: cover;
  background-position-x: center;
  color: #fff;
  min-width: 20em;
}

.info-container {
  display: flex;
  gap: 1em;
  @media only screen and (max-width: 1200px) {
    flex-direction: column;
  }
  .info-element {
    min-width: 20em;
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    flex-direction: column;
  }
}

.archway-claim-button {
  border: none;
  width: 7.71em;
  font-weight: bold;
  background: vars.$archway-primary-orange;
  color: #fff!important;

  &:hover {
    background: vars.$archway-hover!important;
    color: #fff!important;
  }

  &:focus {
    background: vars.$archway-primary-orange;
    color: #fff;
  }

  &:active {
    background: vars.$archway-primary-orange;
    color: #fff
  }

  &.is-disabled,
  &.is-disabled:hover {
    background: #a8abb2!important;
    color: #000!important;
  }

  svg {
    margin-right: 0.75em;
    font-size: 0.75em;
  }
}

.black-button {

  background: black;
  color: #fff!important;

  &:hover {
    background: vars.$archway-black-hover !important;
    color: #fff !important;
  }

  &:focus {
    background: vars.$archway-black-hover;
    color: #fff;
  }

  &:active {
    background: vars.$archway-black-hover;
    color: #fff
  }
}

.el-progress .el-progress-bar__outer {
  border: none!important;
  background-color: vars.$archway-warm-grey;
}

.el-progress .el-progress-bar__inner {
  border: none!important;
  background-color: #000;
}
.el-progress.is-warning .el-progress-bar__inner {
  background-color: vars.$archway-primary-orange;
}

.el-progress.is-success .el-progress__text,
.el-progress.is-warning .el-progress__text,
.el-progress.is-exception .el-progress__text {
  color: #000;
}

.campaign-card {
  border-radius: 0.75em;
  .top-half,
  .bottom-half {
    border: none;
  }
}

.el-tabs__item {
  &.is-active {
    color: #000;
  }
  &:hover {
    color: vars.$archway-primary-orange;
  }
}

.chart-border {
  border: none!important;
  background-color: white;
}

.el-tabs__active-bar {
  background-color: vars.$archway-primary-orange;
}

.el-box.id-card-social {
  background-color: vars.$archway-primary-orange;
  font-weight: 700;
  color: white;
  border: none;
  &:hover:not(.is-disabled) {
    background: vars.$archway-hover;
  }
  &.is-disabled,
  &.is-disabled:hover {
    opacity:.7;
    cursor:no-drop;
  }

}

.el-box.twitter-box {
  background-color: white;
  border: none;
  border-radius: 15px;
}

/*.el-link {
  --el-link-hover-text-color: vars.$archway-primary-orange!important;
}*/


.el-link {
  --el-link-hover-text-color: vars.$archway-black-hover;
}


.orange-link.el-link {
  color: vars.$archway-primary-orange;
  &:hover {
    color: vars.$archway-hover;
  }
}

.black-link.el-link {
  &:hover {
    color: vars.$archway-black-hover;
  }
}

.el-menu--horizontal > .el-sub-menu.is-active .el-sub-menu__title {
  border: none;
}

.el-menu--horizontal > .el-sub-menu .el-sub-menu__title:hover {
  background: #ff4d001a;
  color: vars.$archway-primary-orange
}

.el-menu--horizontal .el-menu-item:not(.is-disabled):hover, .el-menu--horizontal .el-menu-item:not(.is-disabled):focus, .el-menu--horizontal > .el-sub-menu .el-sub-menu__title:hover, .el-menu--horizontal > .el-sub-menu .el-sub-menu__title:focus {
  background: #ff4d001a;
  color: vars.$archway-primary-orange
}

.el-popper.is-light {
  border: none;
  --el-box-shadow-light: none;
}

.el-popper.is-dark {
  border: none;
}

.home-view {

}
