@use "@/design/vars.scss";
.explore-archway {
  font-size: 4em;
  font-weight: 400;
}

.welcome-to-archway {
  font-size: 10vw;
  @media only screen and (max-width: 768px) {
    font-size: 12vw;
  }
  @media only screen and (min-aspect-ratio: 2/1) {
    font-size: 8vw;
  }
  @media only screen and (min-aspect-ratio: 3/1) {
    font-size: 6.5vw;
  }
}

.archway-orange {
  color: vars.$archway-primary-orange;
}

.archway-orange-bg {
  background-color: vars.$archway-primary-orange;
  color: white;
}

button.archway {
  box-shadow: 10px 5px 5px red;
  background-color: vars.$archway-primary-orange !important;
  color: white;
  border: 0;
}

button.archway.is-disabled {
  opacity:0.3 !important;
  background-color: vars.$archway-border !important
}

button.archway:hover {
  background-color: vars.$archway-hover !important;
  color: white;
  border: 0;
}

.el-button:not(.is-link) {
  box-shadow: none;
  border-radius: 0.6em;
  height: auto;
  padding: 0.6em 0.9em;

  &.el-button--primary {
    color: #FFF;
    background-color: vars.$archway-primary-orange;
    border: 2px solid transparent;

    &:hover {
      background-color: #E14400;
    }
    &:active {
      background-color: #C63C00;
    }
    &:focus {
      background-color: #E14400;
      border: 2px solid #FFF;
    }
  }
  &.el-button--secondary {
    color: vars.$archway-primary-orange;
    background-color: #FFF;
    border: 2px solid transparent;

    &:hover,
    &:active,
    &:focus{
      color: #FFF;
      background-color: rgba(255, 77, 0, 0.16);
    }
    &:focus {
      border: 2px solid #E14400;
    }
  }
  &.el-button--tertiary {
    color: vars.$archway-primary-orange;
    background-color: transparent;
    border: 2px solid transparent;

    &:hover,
    &:active,
    &:focus{
      background-color: rgba(255, 77, 0, 0.16);
    }
    &:focus {
      border: 2px solid #E14400;
    }
  }

  &.is-disabled {
    opacity: 0.7;
  }
}

.mission-image {
  width: 100%;
  min-height: 10em;
  aspect-ratio: 1.7;
  background-size: cover;
  background-position: center;
}

.mission-card-content {
  padding: 1.5em 0 1.5em 0
}

.product-banner-card {
  .product-banner {
    flex-basis: 25em;
    flex-grow: 10;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    min-width: 20em;
    min-height: 20em;
    border: 1px solid #e5e5e5;
  }

  .product-description {
    flex-basis: 25em;
    flex-grow: 1;
  }
}

@media only screen and (max-width: 768px) {
}

.info-container {
  display: flex;
  gap: 1em;
  @media only screen and (max-width: 1200px) {
    flex-direction: column;
  }
  .info-element {
    min-width: 20em;
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    flex-direction: column;
    .el-box {
      padding: 2em;
      display: flex;
      flex-grow: 1;
      flex-direction: column;
    }
  }
}

.archway-orange-button {
  border: none;

  svg {
    margin-right: 0.75em;
    font-size: 0.75em;
  }
}

.el-progress .el-progress-bar__outer {
  border: none!important;
  background-color: vars.$archway-warm-grey;
}

.el-progress .el-progress-bar__inner {
  border: none!important;
  background-color: vars.$archway-primary-orange!important;
}
.el-progress.is-warning .el-progress-bar__inner {
  background-color: #000;
}

.campaign-card {

  border-radius: 0.75em;
  .top-half {
    background-color: white;;
    border: none;
  }
  .bottom-half {
    color: black;
    border: none;
    background-color: #F7F7F7;
  }
}

.el-tabs__item {
  &.is-active {
    color: #000;
  }
  &:hover {
    color: vars.$archway-primary-orange;
  }
}

.chart-border {
  border: none!important;
  background-color: white;
}

.el-tabs__active-bar {
  background-color: vars.$archway-primary-orange;
}

.id-card {
  .el-card__body {
    padding-left: 1.2em;
    padding-right: 1.2em;
    box-shadow: -8px 40px 70px -20px rgba(0, 0, 0, 0.6);
  }
  border-radius: 1em;
  box-shadow: -8px 40px 70px -20px rgba(0, 0, 0, 0.6);
}

.el-box.id-card-social {
  background-color: vars.$archway-primary-orange;
  font-weight: 700;
  color: white;
  border: none;
  &:hover:not(.is-disabled) {
    background: vars.$archway-hover;
  }
  &.is-disabled,
  &.is-disabled:hover {
    cursor:no-drop;
  }
  &.white {
    background-color: #FFF;
    color: vars.$archway-primary-orange;
    box-shadow: 3px 9px 32px -4px rgba(0, 0, 0, 0.07);
  }
}

.el-box.twitter-box {
  background-color: white;
  border: none;
  border-radius: 15px;
}

.el-link {
  --el-link-hover-text-color: vars.$archway-black-hover;
}

.orange-link.el-link {
  color: vars.$archway-primary-orange;
  &:hover {
    color: vars.$archway-hover;
  }
}

.black-link.el-link {
  &:hover {
    color: vars.$archway-black-hover;
  }
}

.el-menu--horizontal > .el-sub-menu.is-active .el-sub-menu__title {
  border: none;
  color: black;
}
.el-menu--horizontal .el-menu .el-menu-item.is-active, .el-menu--horizontal .el-menu .el-sub-menu.is-active > .el-sub-menu__title {
  color: #060612;
}

.el-menu--horizontal > .el-sub-menu .el-sub-menu__title:hover {
  background: #ff4d001a;
  color: vars.$archway-primary-orange
}

.el-menu--horizontal .el-menu-item:not(.is-disabled):hover, .el-menu--horizontal .el-menu-item:not(.is-disabled):focus, .el-menu--horizontal > .el-sub-menu .el-sub-menu__title:hover, .el-menu--horizontal > .el-sub-menu .el-sub-menu__title:focus {
  background: #ff4d001a;
  color: vars.$archway-primary-orange
}

.el-popper.is-light {
  border: none;
  --el-box-shadow-light: none;
}

.el-popper.is-dark {
  border: none;
}

.products-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(22em, 1fr));
  gap: 1em;
}

.project-card {
  border: 1px solid #e5e5e5;
}

.grey-socials.social-links {
  svg {
    color: rgb(97 96 95);
  }
}

.el-pagination {
  --el-pagination-bg-color: vars.$archway-warm-grey;
  --el-pagination-button-disabled-color: vars.$archway-warm-grey;
  --el-pagination-button-disabled-bg-color: vars.$archway-warm-grey;
  --el-pagination-hover-color: #FF4D00;

  .el-pager li {
    font-weight: 700;
    font-size: 18px;
    &.is-active {
      text-decoration: underline;
      text-underline-offset: 6px;
      text-decoration-thickness: 2px;
    }
  }
  .btn-prev .el-icon, .btn-next .el-icon {
    font-size: 1.6em;
  }
}
