@use '@/design/theme.scss' as theme;
@use '@/design/theme-dark.scss' as themeDark;
@use "element-plus/theme-chalk/src/index.scss" as *;
@use 'element-plus/theme-chalk/src/dark/css-vars.scss' as *;
@use 'element-plus/theme-chalk/src/mixins/function' as EPFunctions;
@use 'element-plus/theme-chalk/display.css';
@use "@/design/var.scss";

@use "@/design/components/avatar.scss";
@use "@/design/components/box.scss";
@use "@/design/components/button.scss";
@use "@/design/components/card.scss";
@use "@/design/components/col.scss";
@use "@/design/components/dialog.scss";
@use "@/design/components/drawer.scss";
@use "@/design/components/fonts.scss";
@use "@/design/components/footer.scss";
@use "@/design/components/icons.scss";
@use "@/design/components/layoout.scss";
@use "@/design/components/menu.scss";
@use "@/design/components/message-box.scss";
@use "@/design/components/tooltip.scss";
@use "@/design/components/cookie-consent.scss";
@use "@/design/components/rewards-and-announcements.scss";
@use "@/design/components/apexchart.scss";

body {
  background: #FFF7EA
}

svg {
  height: auto;

  &.icon-normal {
    height: 1.714em;
  }
}
