$archway-primary-orange: #FF3D00;
$archway-warm-grey: #F2EFED;
$archway-border: #CCCCCC;
$archway-white-hover: #EAEAEA;
$archway-white-pressed: #D9D9D9;
$archway-hover: #E14400;
$archway-pressed: #C63C00;
